* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(218, 44%, 22%);
  font-family: "Outfit", sans-serif;
}
body {
  font-size: 15px;
  background: hsl(212, 45%, 89%);
  width: 100vw;
  height: 100vh;
}
body,
.container,
.textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body,
.container {
  align-items: center;
}

.container {
  margin: auto;
  background: white;
  width: 330px;
  border-radius: 1.5em;
}
.imagecontainer,
.textcontainer {
  width: 90%;
}
.imagecontainer {
  margin-top: 1em;
}
.textcontainer {
  margin-top: 1.5em;
  gap: 1.5em;
  margin-bottom: 2em;
  padding: 0 1em;
  text-align: center;
}
.textcontainer h1 {
  font-weight: 700;
}
.imagecontainer img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}
.attribution {
  margin-bottom: 1em;
}
@media only screen and (max-width: 900px) {
  body {
    background-image: none;
  }
  .background {
    width: 100vw;
    height: 100vh;
    box-shadow: none;
    margin: 0;
  }
}
